{% extends 'base.html.twig' %}

{% block title %}Shhhh jvé te caillassé{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Ehhh pene8 jvé caillassé ta gueul</h1>
        <a href="{{ path("lecaillou_faune") }}">Faune</a>
        <a href="{{ path("lecaillou_flore") }}">Flore</a>
    </div>
{% endblock %}
