{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block content %}
    <h1>Ajouter un livre</h1>
    {{ form(formulaire_ajout_livre) }}
    <a href="{{ path('livre_index') }}">Retour à la liste des livre</a>
{% endblock %}