{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block content %}
    <h1>Confirmation d'ajout</h1>
    <a href="{{ path('auteur_index') }}">Retour à la liste des auteurs</a>
{% endblock %}