{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block content %}
    <h1>Confirmation d'ajout</h1>
    <a href="{{ path('employe_index') }}">Retour à la liste des employés</a>
{% endblock %}